.inputWrapper {
  display: flex;
  flex-direction: column;
}

.label {
    font-size: 20px;
}

.input {
  display: block;
  width: 320px;
  height: 40px;
  font-size: 18px;
  font-weight: 400;
  line-height: 1.5;
  color: #212529;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #bdbdbd;
  border-radius: 0.25rem;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  margin-bottom: 10px;
  padding-left: 10px;
}

.addBtn {
    display: inline-block;
    cursor: pointer;
    border-radius: 40px;
    border-style: none;
    font-size: 16px;
    color: #fff;
    background-color: rgb(110, 51, 247);
    width: 110px;
    padding: 5px 10px;
    box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.5);
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1)

}
